
button {
    margin-left: 700px;
    margin-top: 350px;
    display: flex;
    align-items: center;
    text-align: center;
    border:none;
   
}

button:hover { 
    background-color: black;
    color: #fff;

}